*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  letter-spacing: .15rem;
  
  
 
  @include respond(tab-land){
    font-size: 56.25%;// 1rem = 9px; 9/16
    letter-spacing: .05;
  }
  @include respond(tab-port){
    font-size: 50%;// 1rem = 8px; 8/16
    letter-spacing: .05;
  }
  @include respond(phone){
    font-size: 43.75%;// 1rem = 7px; 8/16
    letter-spacing: .0;
  }
  @include respond(big-desktop){
    font-size: 75%;// 1rem = 12px; 12/16
    letter-spacing: .05;
  }
}
body{
  background-color: ghostwhite;
  font-size: 1.8rem;
  @include respond(tab-port){
  font-size: 1.6rem;
}

}