.contacts {
    height: 100vh;
    background-color:rgb(149,7,64) ;
    background-image: linear-gradient(to right,rgb(116, 4, 47),rgb(191, 7, 64),rgb(191, 7, 64),rgb(116, 4, 47));
//rgb(246, 242, 242)
    position: relative;
    overflow: auto;
    &_container {
        //background-image: linear-gradient(120.5deg, rgba(#c3073F, .9) 10%, ghostwhite 10% 92%, rgba(#c3073F, .9) 90%);
       background-color: white;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        width:35rem;
        border-radius: 1rem;
        box-shadow: 1rem 2rem 2rem rgba($color: #000000, $alpha: .4);
        height: 50rem;
        overflow: auto;

        @include respond (tab-port) {
            height: 70vh;
            width: 50%;
            padding: 10rem 2rem 2rem;
        }

        @include respond(phone) {
            width: 65%;
            padding: 6rem 2rem 2rem;
        }
        @include respond(big-desktop){
            width: 70%;
            padding: 10rem 2rem 2rem;
        }

        padding: 4rem 2rem 2rem;
    }

    &_form {
        width: 90%;
        text-transform: none;

        @include respond (tab-port) {
            width: 70%;
        }

        @include respond(phone) {
            width: 100%;
        }
    }

    &_input {
        display: block;
        padding: 1.5rem 2rem;
        border:none;
        border-bottom: 3px solid #950740;
        background-color: transparent;
        width: 100%;
        border-width: .05rem;

        @include respond (tab-port) {
          margin:4rem 0;
        }

        @include respond(phone) {
            margin:3rem 0;
        }
        @include respond(big-desktop){
          
        }

        &:not(:first-child) {
            margin-top: .5rem;
        }

        &:focus {
            outline: none;
            border-bottom: 3px solid rgb(3, 255, 242);
            border-width: .05rem;
        }

        &::placeholder {
            color: #950740;
        }


        &:placeholder-shown+.contacts_label {
            position: relative;
            opacity: 0;
            bottom: 3rem;
        }

        &:focus:invalid {
            border-bottom: 3px solid orangered;
            border-width: .05rem;
        }

        &:valid {
            background-color: white;
            border-bottom: 3px solid rgb(3, 255, 242);
            border-width: .05rem;
        }
    }

    &_label {
        letter-spacing: 1px;
        color: #c3073F;
        opacity: 1 !important;
        position: relative;
        top: 1rem;
        font-size: 1.6rem;
    }

}

.contacts_input:focus .contacts_label:placeholder-shown {
    top: 7.8rem;
    left: 0;
}

.buttons {
    margin-top: 3rem;
}

.input_div {
    position: relative;
    margin-bottom: 1.8rem;
}